@import 'mixins/mixins';
@import 'common/var';
@import 'common/transition';

@include b(collapse) {
    border-bottom: 1px solid $--collapse-border-color;
}
@include b(collapse-item) {
    padding-bottom: 24px;

    @include when(disabled) {
        .el-collapse-item__header {
            color: $--font-color-disabled-base;
            cursor: not-allowed;
        }
    }
    @include e(header) {
        position: relative;
        display: flex;
        align-items: center;
        height: $--collapse-header-height;
        line-height: $--collapse-header-height;
        background-color: $--collapse-header-background-color;
        color: $--collapse-header-font-color;
        cursor: pointer;
        border-bottom: 1px solid $--collapse-border-color;
        font-size: $--collapse-header-font-size;
        transition: border-bottom-color 0.3s;
        outline: none;
        border-bottom: 1px solid $--collapse-border-color;
        padding-left: 10px;

        &::after {
            content: '';
            display: block;
            width: 2px;
            height: 14px;
            position: absolute;
            left: 0;
            bottom: 12px;
            background-color: #175cf2;
        }

        @include e(arrow) {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 16px;
            height: 16px;
            margin: 0 16px 0 auto;
            transform: rotate(90deg);
            transition: transform 0.3s;
            border: 1px solid #9fafc3;
            border-radius: 50%;
            color: #9fafc3;
            font-weight: bold;

            @include when(active) {
                transform: rotate(-90deg);
            }

            &::before {
                width: 12px;
                height: 12px;
                transform: scale(0.8);
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        &.focusing:focus:not(:hover) {
            color: $--color-primary;
        }
    }

    @include e(wrap) {
        will-change: height;
        background-color: $--collapse-content-background-color;
        overflow: hidden;
        box-sizing: border-box;
    }

    @include e(content) {
        padding-bottom: 8px;
        padding-top: 24px;
        font-size: $--collapse-content-font-size;
        color: $--collapse-content-font-color;
        line-height: 1.769230769230769;
    }

    &:last-child {
        margin-bottom: -1px;
    }
}
