@import 'mixins/mixins';
@import 'mixins/utils';
@import 'common/var';
@import 'select';

@include b(pagination) {
    white-space: nowrap;
    padding: 2px 5px;
    color: $--pagination-font-color;
    font-weight: normal;
    @include utils-clearfix;

    span:not([class*='suffix']),
    button {
        display: inline-block;
        font-size: $--pagination-font-size;
        min-width: $--pagination-button-width;
        height: $--pagination-button-height;
        line-height: $--pagination-button-height;
        vertical-align: middle;
        box-sizing: border-box;
    }

    .el-input__inner {
        text-align: center;
        -moz-appearance: textfield;
        line-height: normal;
    }

    // pagesize 的下拉 icon
    .el-input__suffix {
        right: 16px;
        transform: scale(0.8);
    }

    .el-select .el-input {
        width: 106px;
        margin: 0 8px;

        .el-input__inner {
            padding-right: 25px;
            border-radius: $--pagination-border-radius;
        }
    }

    button {
        border: none;
        padding: 0 6px;
        background: #f8fafc;

        &:focus {
            outline: none;
        }

        &:hover {
            color: $--pagination-hover-color;
        }

        &:disabled {
            color: $--pagination-button-disabled-color;
            cursor: not-allowed;
        }
    }

    .btn-prev,
    .btn-next {
        box-sizing: content-box;
        padding: 3px 0;
        background: center center no-repeat;
        background-size: 16px;
        background-color: #f8fafc;
        cursor: pointer;
        margin: 0;
        color: $--pagination-button-color;
        vertical-align: middle;
        border-top: 1px solid #edf1f6;
        border-bottom: 1px solid #edf1f6;

        &.btn-prev {
            border-radius: 4px 0 0 4px;
            border-left: 1px solid #edf1f6;
        }

        &.btn-next {
            border-radius: 0 4px 4px 0;
            border-right: 1px solid #edf1f6;
        }

        .el-icon {
            display: block;
            font-size: 12px;
            font-weight: bold;
        }
    }

    .btn-prev {
        padding-right: 0;
    }

    .btn-next {
        padding-left: 0;
    }

    .el-pager li.disabled {
        color: $--color-text-placeholder;
        cursor: not-allowed;
    }

    @include m(small) {
        .btn-prev,
        .btn-next,
        .el-pager li,
        .el-pager li.btn-quicknext,
        .el-pager li.btn-quickprev,
        .el-pager li:last-child {
            border-color: transparent;
            font-size: 12px;
            line-height: 22px;
            height: 22px;
            min-width: 22px;
        }

        .arrow.disabled {
            visibility: hidden;
        }

        .more::before,
        li.more::before {
            line-height: 24px;
        }

        span:not([class*='suffix']),
        button {
            height: 22px;
            line-height: 22px;
        }

        @include e(editor) {
            height: 22px;
            &.el-input .el-input__inner {
                height: 22px;
            }
        }
    }

    @include e(sizes) {
        height: 40px !important;
        line-height: 40px !important;
        margin: 0 10px 0 0;
        font-weight: normal;
        color: $--color-text-regular;

        .el-select {
            vertical-align: top;
        }

        .el-input {
            height: 40px;
        }

        .el-input .el-input__inner {
            height: 40px !important;
            line-height: 40px !important;
            background: #f8fafc;
            border: 1px solid #edf1f6;
            font-size: $--pagination-font-size;
            padding: 0;
            border-radius: 4px;

            &:hover {
                border-color: $--pagination-hover-color;
            }
        }
    }

    @include e(total) {
        margin-right: 11px;
        font-weight: normal;
        color: $--color-text-regular;
        vertical-align: middle;
    }

    @include e(jump) {
        margin-left: 24px;
        font-weight: normal;
        color: $--color-text-regular;

        .el-input__inner {
            padding: 0 3px;
        }
    }

    @include e(rightwrapper) {
        float: right;
    }

    @include e(editor) {
        line-height: 18px;
        padding: 0 2px;
        height: $--pagination-button-height;

        text-align: center;
        margin: 0 2px;
        box-sizing: border-box;
        border-radius: $--pagination-border-radius;

        &.el-input {
            width: 50px;
        }

        &.el-input .el-input__inner {
            height: $--pagination-button-height;
        }

        .el-input__inner::-webkit-inner-spin-button,
        .el-input__inner::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }

    @include when(background) {
        .btn-prev,
        .btn-next,
        .el-pager li {
            margin: 0 5px;
            background-color: $--color-info-lighter;
            color: $--color-text-regular;
            min-width: 30px;
            border-radius: 2px;

            &.disabled {
                color: $--color-text-placeholder;
            }
        }

        .btn-prev,
        .btn-next {
            padding: 0;

            &:disabled {
                color: $--color-text-placeholder;
            }
        }

        .el-pager li:not(.disabled) {
            &:hover {
                color: $--pagination-hover-color;
            }

            &.active {
                background-color: $--color-primary;
                color: $--color-white;
            }
        }

        &.el-pagination--small {
            .btn-prev,
            .btn-next,
            .el-pager li {
                margin: 0 3px;
                min-width: 22px;
            }
        }
    }
}

@include b(pager) {
    user-select: none;
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    padding: 3px 0;
    margin: 0;
    background: #f8fafc;
    border-top: 1px solid #edf1f6;
    border-bottom: 1px solid #edf1f6;

    .more::before {
        line-height: 30px;
    }

    li {
        background: $--pagination-background-color;
        vertical-align: middle;
        display: inline-block;
        font-size: $--pagination-font-size;
        min-width: $--pagination-button-width;
        height: $--pagination-button-height;
        line-height: $--pagination-button-height;
        border-radius: 4px;
        cursor: pointer;
        box-sizing: border-box;
        text-align: center;
        margin: 0;

        &.btn-quicknext,
        &.btn-quickprev {
            line-height: 28px;
            color: $--pagination-button-color;

            &.disabled {
                color: $--color-text-placeholder;
            }
        }

        &.btn-quickprev:hover {
            cursor: pointer;
        }

        &.btn-quicknext:hover {
            cursor: pointer;
        }

        &.active + li {
            border-left: 0;
        }

        &:hover {
            color: $--pagination-hover-color;
        }

        &.active {
            color: #fff;
            background-color: $--pagination-hover-color;
            cursor: default;
        }
    }
}
